<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Couples"
	useFullscreenExpand="true"

>
  <image imageURL="images/-satya-clicks_16261935996_o.jpg"
	thumbURL="thumbs/-satya-clicks_16261935996_o.jpg"
	linkURL="images/-satya-clicks_16261935996_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/-satya-clicks_16261935996_o.jpg">
    <title><![CDATA[Love is in the air !!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/-satya-clicks_17715108739_o.jpg"
	thumbURL="thumbs/-satya-clicks_17715108739_o.jpg"
	linkURL="images/-satya-clicks_17715108739_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/-satya-clicks_17715108739_o.jpg">
    <title><![CDATA[Sneha Shashank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/-satya-clicks_18310172692_o.jpg"
	thumbURL="thumbs/-satya-clicks_18310172692_o.jpg"
	linkURL="images/-satya-clicks_18310172692_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/-satya-clicks_18310172692_o.jpg">
    <title><![CDATA[Sneha Shashank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/-satya-clicks_18313915295_o.jpg"
	thumbURL="thumbs/-satya-clicks_18313915295_o.jpg"
	linkURL="images/-satya-clicks_18313915295_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/-satya-clicks_18313915295_o.jpg">
    <title><![CDATA[Sneha Shashank]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/love-is-in-the-air_14470859452_o.jpg"
	thumbURL="thumbs/love-is-in-the-air_14470859452_o.jpg"
	linkURL="images/love-is-in-the-air_14470859452_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/love-is-in-the-air_14470859452_o.jpg">
    <title><![CDATA[Neha Sanjeev]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/neha--sanjeev_14192956060_o.jpg"
	thumbURL="thumbs/neha--sanjeev_14192956060_o.jpg"
	linkURL="images/neha--sanjeev_14192956060_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/neha--sanjeev_14192956060_o.jpg">
    <title><![CDATA[Neha Sanjeev]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/neha--sanjeev_14230465548_o.jpg"
	thumbURL="thumbs/neha--sanjeev_14230465548_o.jpg"
	linkURL="images/neha--sanjeev_14230465548_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/neha--sanjeev_14230465548_o.jpg">
    <title><![CDATA[Neha Sanjeev]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/neha--sanjeev_14399444223_o.jpg"
	thumbURL="thumbs/neha--sanjeev_14399444223_o.jpg"
	linkURL="images/neha--sanjeev_14399444223_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Deepak/Desktop/satyaclicks/Images Zipped/satyaclicks_couples_72157653142188132/neha--sanjeev_14399444223_o.jpg">
    <title><![CDATA[Neha Sanjeev]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>